@*@{
    int phanquyen = int.Parse(Session["idQuyen"].ToString());
}*@

@*@if (phanquyen == 1) //Admin Quan Ly Admin
{
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="@Url.Action("Index","QuanTri")"><i class="fa fa-dashboard fa-fw"></i> Trang chủ</a>
            </li>
            <li class="">
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý sách<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li>
                        <a href="@Url.Action("Sach","QuanTri")">Sách</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ChuDe", "QuanTri")">Chủ đề</a>
                    </li>
                    <li>
                        <a href="@Url.Action("NhaXuatBan", "QuanTri")">Nhà xuất bản</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý tác giả<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("TacGia", "QuanTri")">Tác giả</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý liên hệ<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("Lienhe", "QuanTri")">Liên hệ</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý đơn hàng<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("Donhang", "QuanTri")">Đơn hàng</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Chitietdonhang", "QuanTri")">Chi tiết đơn hàng</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý khách hàng<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("Khachhang", "QuanTri")">Khách hàng</a>
                    </li>
                    <li>
                        <a href="@Url.Action("LienHeKhachhang", "QuanTri")">Liên hệ Khách hàng</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý quản trị<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("Quantri", "QuanTri")">Quản trị</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
}
else if (phanquyen == 2) ////Admin Quan Ly Sach
{ 
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="@Url.Action("Index","QuanTri")"><i class="fa fa-dashboard fa-fw"></i> Trang chủ</a>
            </li>
            <li >
                 <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý sách<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li>
                        <a href="@Url.Action("Sach","QuanTri")">Sách</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ChuDe", "QuanTri")">Chủ đề</a>
                    </li>
                    <li>
                        <a href="@Url.Action("NhaXuatBan", "QuanTri")">Nhà xuất bản</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
}
else
{
    @*<div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div> 
            </li>
            <li>
                <a href="@Url.Action("Index","QuanTri")"><i class="fa fa-dashboard fa-fw"></i> Trang chủ</a>
            </li>*@
            @*<li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý sách<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li>
                        <a href="@Url.Action("Sach","QuanTri")">Sách</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ChuDe", "QuanTri")">Chủ đề</a>
                    </li>
                    <li>
                        <a href="@Url.Action("NhaXuatBan", "QuanTri")">Nhà xuất bản</a>
                    </li>
                </ul>
            </li>*@
        @*</ul>

       
    </div>*@
    @*<div class="list-group">
        <a href="@Url.Action("Index","QuanTri")"><i class="fa fa-dashboard fa-fw"></i> Trang chủ</a>
        <a href="@Url.Action("Sach","QuanTri")" class="list-group-item list-group-item-action">Sách</a>
        <a href="@Url.Action("ChuDe", "QuanTri")" class="list-group-item list-group-item-action">Chủ đề</a>
        <a href="@Url.Action("NhaXuatBan", "QuanTri")" class="list-group-item list-group-item-action">Nhà xuất bản</a>
    </div>
}*@

<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <!-- /input-group -->
        </li>
        <li>
            <a href="@Url.Action("Index","QuanTri")"><i class="fa fa-dashboard fa-fw"></i> Trang chủ</a>
        </li>
        <li class="">
            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý sách<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                <li>
                    <a href="@Url.Action("Sach","QuanTri")">Sách</a>
                </li>
                <li>
                    <a href="@Url.Action("ChuDe", "QuanTri")">Chủ đề</a>
                </li>
                <li>
                    <a href="@Url.Action("NhaXuatBan", "QuanTri")">Nhà xuất bản</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý tác giả<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="@Url.Action("TacGia", "QuanTri")">Tác giả</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý liên hệ<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="@Url.Action("Lienhe", "QuanTri")">Liên hệ</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý đơn hàng<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="@Url.Action("Donhang", "QuanTri")">Đơn hàng</a>
                </li>
                <li>
                    <a href="@Url.Action("Chitietdonhang", "QuanTri")">Chi tiết đơn hàng</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý khách hàng<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="@Url.Action("Khachhang", "QuanTri")">Khách hàng</a>
                </li>
                <li>
                    <a href="@Url.Action("LienHeKhachhang", "QuanTri")">Liên hệ Khách hàng</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý quản trị<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="@Url.Action("Quantri", "QuanTri")">Quản trị</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
    </ul>
</div>